body {
  background-color: #1e1e1e;
  color: white;
}
footer {
  background-color: #161515;
  padding: 20px;
  height: 20px;
}
.footerContents {
  width: 201px;
  margin-left: calc((100% / 2) - 100.5px);
}
.name {
  width: 254px;
  margin-left: calc((100% / 2) - 127px);
  margin-top: 2rem;
}
.section {
  margin-left: 22%;
}
img {
  width: 200px;
  margin-left: calc((100% / 2) - 100px);
}
.navbar {
  margin-top: 30px;
  width: 732px;
  margin-left: calc((100% / 2) - (366px + 2.5rem));
}
.navbar .navElement {
  display: inline;
  list-style: none;
}
.navElement a {
  background-color: #3d3c3c;
  text-decoration: none;
  color: white;
  margin: 1rem;
  padding: 12px;
  border-radius: 25px;
}
