body {
  background-color: #1e1e1e;
  color: white;
  margin: 0;
}

footer {
  background-color: #161515;
  padding: 20px;
  height: 20px;
}
.footerContents {
  width: 205px;
  margin-left: calc((100% / 2) - 102.5px);
}
