body {
  background-color: #1e1e1e;
  color: white;
}
footer {
  background-color: #161515;
  padding: 30px;
  height: 70px;
  margin: 0px -8px -8px -8px;
}
.footerContents {
  width: 201px;
  margin-left: calc((100% / 2) - 100px);
}
.name {
  width: 254px;
  margin-left: calc((100% / 2) - 127px);
  margin-top: 2rem;
}
.section {
  margin-left: 22%;
}
.section h1 {
  /* text-decoration: wavy; */
  text-decoration-line: underline;
  text-decoration-color: white;
  text-underline-offset: 8px;
  text-decoration-thickness: 2px;
}
img {
  width: 200px;
  margin-left: calc((100% / 2) - 100px);
}
.navbar {
  margin-top: 30px;
  width: 780px;
  margin-left: calc((100% / 2) - (380px + 2.5rem));
}
.navBox {
  background-color: #3d3c3c;
  margin: 0px;
  padding: 10px;
  margin: -20px -8px 0px -8px;
}
.navbar .navElement {
  display: inline;
  list-style: none;
}
.navElement a {
  background-color: #3d3c3c;
  text-decoration: none;
  color: white;
  margin: 1rem;
  /* padding: 12px; */
  padding: 27px;
  border-radius: 25px;
  font-weight: bolder;
}
.navElement a:hover {
  color: #d81515;
}
.skill {
  background-color: #d81515;
  color: white;
  border-radius: 30px;
  padding: 1px;
  margin-left: -1px;
}
.skillOutline {
  /* display: inline-block; */
  background-color: #d4d4d4;
  border-radius: 30px;
  width: 300px;
  height: 20px;
  /* margin-left: 25px; */
  margin: 8px 0px 16px 0px;
}
.skillList {
  font-size: 16px;
  list-style: circle;
}
.p75 {
  width: 75%;
}
.p30 {
  width: 30%;
}
.p60 {
  width: 60%;
}
.p50 {
  width: 50%;
}
.p10 {
  width: 10%;
  padding: 1px 3px 1px 3px;
}
.percentage {
  margin-left: calc(50% - 16px);
}
a {
  color: white;
  text-decoration-color: #d81515;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}
a:hover {
  color: #d81515;
  text-decoration-color: white;
}
.insetList {
  margin-left: 25px;
  list-style: circle;
}
.section li {
  padding: 5px;
}
.githubLogo {
  margin: 0px 0px -6px 0px;
  height: 50px;
  width: 51px;
  margin-left: calc(100% / 2 - 62px);
  fill: white;
}
.githubLogo:hover {
  fill: #d81515;
}
.gmailLogo {
  margin: 5px 5px 5px 20px;
  height: 50px;
  width: 51px;
  fill: white;
}
.gmailLogo:hover {
  fill: #d81515;
}
.edInset {
  margin-left: 10px;
}
.footerContents a {
  color: transparent;
  text-decoration: none;
}
#projects li p {
  display: inline;
  line-height: 25px;
  padding-left: 0.2rem;
}
#projects li {
  max-width: 64rem;
  padding-right: 8rem;
}
